<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLiteConnection"
			 connectionString="Data Source=C:\Users\proau\OneDrive - Murillo HMS\Projetos\2 - Sistemas\5 - Projetos Murillo\KhoraControl\bin\Debug\net8.0-windows\db\System.db;Cache=Shared"
			 providerName="Microsoft.Data.Sqlite" />
		<add name="PostgreSQLConnection"
			 connectionString="Host=localhost;Port=5432;Username=postgres;Password=Xj7hpmtmma@;Database=KhoraControl;"
			 providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<add key="DatabaseProvider" value="PostgreSQL" />
		<!-- ou "PostgreSQL" -->
	</appSettings>
</configuration>
